**/__snapshots__
pnpm-lock.yaml

# built outputs
dist/

# only a reference
dts-bundle-generator/

# don't mess with the output files
test/fixtures/**/expected.d.ts

# special case
test/fixtures/import-type-from-deps/module-with-import-type.d.ts

