**/__snapshots__
pnpm-lock.yaml

# built outputs
dist/

# don't mess with the output files
test/fixtures/**/expected.d.ts

# special case
test/fixtures/import-type-from-deps/module-with-import-type.d.ts
test/fixtures/export-wrapped-with-namespace/input.ts
MOVING_A_TEST_CASE.md
