name: Update Dependencies

permissions:
  contents: read
  pull-requests: write

on:
  schedule:
    - cron: "0 5 * * 6"
  workflow_dispatch:

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Git Config
        run: |
          git config user.name "github-action"
          git config user.email "github-action@noreply.github.com"
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: pnpm
      - name: Update pnpm
        run: pnpm self-update
      - name: Install Dependencies
        run: pnpm install
      - name: Update Dependencies
        run: pnpm update --latest
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          commit-message: "chore: update npm dependencies"
          committer: svc-pipeline <svc_pipeline@qlik.com>
          author: svc-pipeline <svc_pipeline@qlik.com>
          branch: chore/update-dependencies
          delete-branch: true
          title: "chore: update npm dependencies"
